$background-container: #f8f8f8;

$white-d1d: #d1d1d1;
$white: #ffffff;
$white-e6e: #e6e6e6;
$black: #000000;
$black-afa: #afafaf29;
$black-2e2d: #2e2d2d;
$black-2e2a: #2e2a2b;
$black-231f: #231f20;
$black-40: #404040;
$black-2f: #2f2f2f;
$black-3e: #3e3e3e;
$black-37: #373737;
$black-4040: #404040;
$black-b7b7: #b7b7b7;
$placeholder-gray: #989fa4;
$default-gray: gray;
$gray-ac: #acacac;
$gray-da: #dae7d2;
$gray-dd: #dddddd;
$gray-ed: #ededed;
$gray-e3e: #e3e3e3;
$gray-de: #dedede;
$gray-eb: #ebebeb;
$gray-ca: #cad7c2;
$gray-6f: #6f6f6f;
$gray-f9: #f9f9f9;
$gray-8c: #8c8c8d;
$gray-84: #848484;
$gray-71: #718191;
$gray-70: #707070;
$gray-6c: #6c757d;
$gray-b9: #b9b9b9;
$gray-box-shadow-43: #43434329;
$gray-box-shadow-00: #00000029;
$gray-box-shadow-01A: #0000001a;
$gray-box-shadow-D1: #d1d1d129;
$box-shadow-74: #74747429;
$gray-f2: #f2f2f2;
$gray-ee: #eee;
$gray-bf: #bfbfbf;
$gray-f8: #f8f8f8;
$gray-b4: #b4b4b4;
$gray-8f: #8f8f8f;
$gray-91: #919191;
$gray-93: #939393;
$gray-6e: #6e6e6e;
$gray-65: #656565;
$gray-c1: #c1c1c1;
$gray-d0: #d0d0d0;
$gray-95: #959595;
$gray-45: #455469;
$gray-2e: #2e565c;
$gray-dd: #dddddd;
$gray-85: #858585;
$gray-9d: #9d9d9d;
$gradient-gray: transparent linear-gradient(180deg, #b9b9b9 0%, #9d9d9d 100%) 0%
  0% no-repeat padding-box;

$gray-be: #bebebe;
$gray-6c6c: #6c6c6c29;
$gray-eae: #eaeaea;
$gray-e8e: #e8e8e829;
$gray-dee: #dee2e6;
$gray-adb: #adb5bd;
$gray-fd: #fdf4ed;
$gray-ef: #efefef;
$gray-a5: #a5a5a5;
$gray-b2b2: #b2b2b2;
$gray-e2e: #e2e2e2;
$gradient-green: transparent linear-gradient(180deg, #467d84 0%, #4a6365 100%)
  0% 0% no-repeat padding-box;

$box-shadow-34: #34343429;
$box-shadow-29: #aaaaaa29;

$gray-gradient: transparent linear-gradient(180deg, #646464 0%, #868686 100%) 0%
  0% no-repeat padding-box;
$gray-cec: #cecece;
$gray-f5f: #f5f5f5 0% 0% no-repeat padding-box;
$gray-707: #707070;
$gray-e5: #e5e5e5;
$gray-dbd: #dbdbdb;
$orange-f0: #f08e3c;
$orange-button: #f08e3c;
$orange-f4: #f48122;
$orange-f2: #f2a165;
$orange-e8: #e89d67;
$orange-f7: #f7903b;
$orange-e8: #e89d67;
$orange-f7: #f7903b;
$orange-fff1e5: #fff1e5;

$orange-ec1: #ec8734;
$orange-ec2: #ec9552;
$orange-f6: #f6903c;

$red-f0: #f06458;

$green-da: #dae7d2;
$green46: #467d84;
$green-87: #87a570;
$green-24: #24646d;
$green-2e: #2e565c;
$green-83: #83a589;

$blue46: #4674c1;
$blue-107: #1075b3;
$blue-83: #839ccc;
$blue3a: #3ab3c9;
$blue-link: #0187b9;

$purple: #f80864;
$error: #cc0813;
$gray-dfd: #dfdfdf;
$yellow-mark: #ffff00;
$yellow-ed: #edd266;

$red-c1: #c15657;
$shadow: #5f5f5f29;
$shadow-hover: #74747429;
$secundary: #818181;
$border-gray: #d6d6d6;
$border-e8: #e8e8e8;
$border-c1: #c1c1c178;
$black-58: #585858;
$black-1f: #1f1f1f;
$black-1a: #1a3b670a;
$black-5f5f: #5f5f5f29;
$blue-1a3b: #1a3b671f;
$gray-f4: #f4f4f4;
$border-orange: #f6903c;
$green-7f: #7fa787;
$gray-e9e: #e9ecef;
$table-hover: #f7e9dd;
$gray-b7b: #b7b7b729;
$gray-f0: #f0f0f0;

$orange-gradient: transparent linear-gradient(180deg, #f7903b 0%, #f2a165 100%)
  0% 0% no-repeat padding-box;

$blue-277: #2777ad;

$red-be5: #be5149;

$green-369: #36926d;
