// px
$size0: 0px;
$size1: 1px;
$size1_5: 1.5px;
$size1_9: 1.9px;
$size2: 2px;
$size2_7: 2.7px;
$size3: 3px;
$size4: 4px;
$size5: 5px;
$size6: 6px;
$size7: 7px;
$size8: 8px;
$size9: 9px;
$size10: 10px;
$size11: 11px;
$size11_52: 11.52px;
$size12: 12px;
$size12_8: 12.8px;
$size13: 13px;
$size14: 14px;
$size15: 15px;
$size16: 16px;
$size17: 17px;
$size18: 18px;
$size19: 19px;
$size20: 20px;
$size21: 21px;
$size22: 22px;
$size23: 23px;
$size24: 24px;
$size25: 25px;
$size26: 26px;
$size28: 28px;
$size29: 29px;
$size30: 30px;
$size31: 31px;
$size32: 32px;
$size33: 33px;
$size34: 34px;
$size35: 35px;
$size36: 36px;
$size37: 37px;
$size38: 38px;
$size39: 39px;
$size40: 40px;
$size42: 42px;
$size43: 43px;
$size44: 44px;
$size45: 45px;
$size46: 46px;
$size47: 47px;
$size48: 48px;
$size49: 49px;
$size50: 50px;
$size53: 53px;
$size54: 54px;
$size56: 56px;
$size57: 57px;
$size60: 60px;
$size63: 63px;
$size65: 65px;
$size67: 67px;
$size69: 69px;
$size70: 70px;
$size80: 80px;
$size82: 82px;
$size87: 87px;
$size90: 90px;
$size96: 96px;
$size100: 100px;
$size103: 103px;
$size110: 110px;
$size120: 120px;
$size130: 130px;
$size132: 132px;
$size135: 135px;
$size140: 140px;
$size150: 150px;
$size153: 153px;
$size169: 169px;
$size170: 170px;
$size185: 185px;
$size186: 186px;
$size187: 187px;
$size188: 188px;
$size190: 190px;
$size200: 200px;
$size210: 210px;
$size215: 215px;
$size220: 220px;
$size225: 225px;
$size232: 232px;
$size235: 235px;
$size236: 236px;
$size250: 250px;
$size260: 260px;
$size266: 266px;
$size270: 270px;
$size280: 280px;
$size290: 290px;
$size300: 300px;
$size307: 307px;
$size330: 330px;
$size360: 360px;
$size350: 350px;
$size339: 339px;
$size450: 450px;
$size500: 500px;
$size510: 510px;
$size530: 530px;
$size550: 550px;
$size570: 570px;
$size600: 600px;
$size604: 604px;
$size610: 610px;
$size700: 700px;
$size1000: 1000px;
$size1350: 1350px;

// %
$fortySevenSize: 47%;
$halfSize: 50%;
$seventySize: 70%;
$fullSize: 100%;

// rem
$remSize0125: 0.125rem;
$remSize0375: 0.375rem;
$remSize0625: 0.625rem;
$remSize01: 0.1rem;
$remSize0187: 0.187rem;
$remSize02: 0.2rem;
$remSize03: 0.3rem;
$remSize04: 0.4rem;
$remSize05: 0.5rem;
$remSize053: 0.53rem;
$remSize06: 0.6rem;
$remSize07: 0.7rem;
$remSize08: 0.8rem;
$remSize075: 0.75rem;
$remSize08: 0.8rem;
$remSize0812: 0.812rem;
$remSize085: 0.85rem;
$remSize09: 0.9rem;
$remSize0937: 0.937rem;
$remSize0_25: 0.25rem;
$remSize1: 1rem;
$remSize1_1: 1.1rem;
$remSize1_125: 1.125rem;
$remSize1_2: 1.2rem;
$remSize1_25: 1.25rem;
$remSize1_3: 1.3rem;
$remSize1_4: 1.4rem;
$remSize1_5: 1.5rem;
$remSize1_53125: 1.53125rem;
$remSize1_6: 1.6rem;
$remSize1687: 1.687rem;
$remSize162: 1.625rem;
$remSize1_7: 1.7rem;
$remSize175: 1.75rem;
$remSize1_875: 1.875rem;
$remSize2: 2rem;
$remSize2_1: 2.1rem;
$remSize2_1875: 2.1875rem;
$remSize2_4: 2.4rem;
$remSize2_5: 2.5rem;
$remSize2_7: 2.7rem;
$remSize2_8: 2.8rem;
$remSize2_15: 2.15rem;
$remSize3: 3rem;
$remSize3_5: 3.5rem;
$remSize3_75: 3.75rem;
$remSize4: 4rem;
$remSize4_18: 4.8125rem;
$remSize4_37: 4.375rem;
$remSize5: 5rem;
$remSize5_2: 5.2rem;
$remSize5_4: 5.5rem;
$remSize65: 6.5rem;
$remSize7: 7rem;
$remSize7_5: 7.5rem;
$remSize7_18: 7.1875rem;
$remSize8: 8rem;
$remSize8_2: 8.2rem;
$remSize9: 9rem;
$remSize9_25: 9.25rem;
$remSize10: 10rem;
$remSize10_8: 10.8rem;
$remSize11_9: 11.9rem;
$remSize14_81: 14.8125rem;
$remSize13_1: 13.1rem;
$remSize15_625: 15.625rem;
$remSize0875: 0.875rem;
$remSize12: 12rem;
$remSize13: 13rem;
$remSize14: 14rem;
$remSize15: 15rem;
$remSize15625: 15.625rem;
$remSize18: 18rem;
$remSize19: 19rem;
$remSize19_25: 19.25rem;
$remSize19_188: 19.188rem;
$remSize19_5: 19.5rem;
$remSize20: 20rem;
$remSize22: 22rem;
$remSize24: 24rem;
$remSize25: 25rem;
$remSize26: 26rem;
$remSize27: 27rem;
$remSize27_5: 27.5rem;
$remSize30: 30rem;
$remSize34_5: 34.5rem;
$remSize35: 35rem;
$remSize40: 40rem;
$remSize49: 49rem;

//em
$emSize04: 0.4em;
$emSize0255: 0.255em;
$emSize1: 1em;

// vh / vw
$vhSize5: 5vh;
$vhSize6: 6vh;
$vhSize7: 7vh;
$vhSize60: 60vh;
$fullHeightSize: 100vh;
$fullWidthSize: 100vw;

// media queries
$screen-mobile-extra-small: 320px;
$screen-mobile-small: 375px;
$screen-mobile-large: 425px;
$screen-tablet: 768px;
$screen-laptop: 1024px;
$screen-laptop-large: 1440px;

//em
$emSize0_5: 0.5em;
$emSize0_35: 0.35em;

$perSize95: 95%;
