@import "src/app/shared/styles/colors.scss";
@import "src/app/shared/styles/dimensions.scss";

.comparative-analysis-container {
  margin-top: $size15;
  padding-right: $size50;
  padding-left: $size50;

  .btn-list {
    min-width: $remSize9;
  }
  .btn-list-reset {
    min-width: $size0;
  }

  .btn-visualization {
    border-color: $green46;
    background: $white 0% 0% no-repeat padding-box;
    border-radius: $size50;
    color: $green46;

    font-size: $remSize075;
    opacity: 1;
    width: -webkit-fill-available;
    outline-color: $green46;
    height: $size30;

    &:focus {
      border-color: $green46;
      box-shadow: none;
    }

    &.selected {
      border-color: $green46;
      color: $white;
      background: $green46 0% 0% no-repeat padding-box;

      img {
        filter: brightness(0) invert(1);
      }
    }
  }

  .tiny-title {
    font-size: $remSize075;
    font-weight: bold;
    color: $black-58;
    text-transform: uppercase;
  }

  .line {
    width: $size0;
    height: $size50;
    border: $size1 solid #707070;
    opacity: 0.2;
    margin-left: $remSize1;
    margin-right: $remSize1;
  }

  .btn-show {
    font-size: $size14;
    letter-spacing: $size0;
    color: $white;
    border: none;
    background: $orange-gradient;
    box-shadow: $size0 $size2 $size6 $box-shadow-74;
    border-radius: $size42;
    opacity: 1;
    width: $size67;
    height: $size33;
  }

  .text-orange {
    color: $orange-f0;
  }
}

.card-body {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 6px #aaaaaa29;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
}

:host::ng-deep {
  .row-name {
    box-shadow: 0px 2px 6px #cecece29;
    border-radius: 4px;
    background: $white !important;
    width: 94% !important;
    padding-left: 10px;
  }
  .datatable-header-cell {
    background: transparent !important;
    max-height: 90% !important;
    box-shadow: 0px 2px 6px #cecece29;
    &:first-child {
      font-weight: 700;
    }
  }

  .datatable-body-cell {
    max-height: 90% !important;
    align-self: center;
  }

  .fixed-row-value {
    background-color: $white;
  }

  .spacing {
    width: 92% !important;
  }
  .datatable-body-cell-label {
    width: 96% !important;
  }
  .datatable-body {
    max-height: 60vh;
  }
  .datatable-header,
  .amount,
  .percentage-bold {
    font-weight: 700;
  }
  .datatable-body-cell-label {
    font-weight: 500;
  }
  .dynamic-row-value {
    margin-right: 5px;
    border-radius: $size4;
    font-weight: 700;
  }
}
