@import "src/app/shared/styles/colors.scss";
@import "src/app/shared/styles/dimensions.scss";

.table-header-container {
  background-color: $gray-8c;
  padding: $size8 0;

  .check-all-container {
    padding: 0 $size10;
    .check-all {
      border: solid $size1 $white;
      border-radius: $size3;
      height: $size13;
      position: relative;
      width: $size13;

      input {
        cursor: pointer;
        left: 0;
        opacity: 0;
        z-index: 2;
        position: absolute;
      }

      .check-block {
        border-radius: $size3;
        position: absolute;
        width: $size12;
        height: $size12;
        left: -1px;
        top: -1px;
        background-color: $white;
        border-color: $white;
      }

      .check-active {
        border: solid $gray-71;
        border-width: 0 $size2 $size2 0;
        cursor: pointer;
        height: $size9;
        left: 0;
        margin-left: $size4;
        position: absolute;
        top: $size1;
        transform: rotate(45deg);
        z-index: 1;
        width: $size4;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
      }
    }
  }

  .items {
    min-width: $size200;
    max-width: $size300;
    padding: 0 $size5;
    label {
      color: $white;

      font-size: $remSize08;
      margin-bottom: 0;
    }
  }
}

.full-size {
  width: 100%;
  max-width: inherit !important;
}
