@import "src/app/shared/styles/colors.scss";
@import "src/app/shared/styles/dimensions.scss";

.scrollable-area {
  overflow: auto;
  max-height: 60vh;

  & > table {
    & > thead {
      & > th {
        white-space: nowrap;
        background: transparent
          linear-gradient(180deg, #646464 0%, #868686 100%) 0% 0% no-repeat
          padding-box;
        color: $white;
        font-size: $size14;
        font-weight: 600;
      }
    }

    & > tbody {
      & > td {
        & > .text-drag {
          height: $size25;
          align-items: center;
          &:first-child {
            text-align: center;
          }
        }
      }
    }
  }
}
.placeholder-drag {
  border: $size1 $orange-f6 dashed;
  border-radius: $size30 !important;
  height: $size30;
  width: 100%;
}

.text-drag {
  background: $white 0% 0% no-repeat padding-box;
  box-shadow: $size0 $size2 $size6 $shadow;
  border: $size1 solid $border-gray;
  border-radius: $size30;
  white-space: nowrap;

  &.hover {
    &:hover {
      color: #0187b9;
      text-decoration: underline;
      font-weight: 600;
      cursor: pointer;
    }
  }

  &.active {
    border: $size1 solid $orange-f6;
    color: $orange-f6;
  }
}

.delete-icon {
  margin-right: $size1;
  cursor: pointer;
}

.drag-area {
  min-height: 40px;
  width: 100%;
}
