<div class="modal" tabindex="-1" role="dialog" id="{{ input.idModal }}">
  <div
    class="modal-dialog modal-dialog-centered"
    [ngClass]="{
      'full-size': input.fullSize,
      'modal-lg': input.isInfoPosition
    }"
    role="document"
  >
    <div class="modal-content">
      <div
        class="
          modal-header
          d-flex
          justify-content-between
          flex-row
          align-items-center
        "
      >
        <div class="d-flex align-items-center justify-content-center">
          <img
            src="../../../../assets/imgs/svg/change-password.svg"
            class="mr-3"
          />
          <h5 class="modal-title w-100">{{ input.title }}</h5>
        </div>

        <button
          type="button"
          class="close btn-close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <img src="../../../../assets/imgs/svg/close-modal.svg" />
        </button>
      </div>
      <div class="modal-body pt-0">
        <hr class="mt-0 mb-0 px-3" />
        <div class="modal-change-password-container" fxLayout="column">
          <div class="input-container">
            <span class="label-input">
              {{ locales.newPassword }}
            </span>
            <input
              class="password-input"
              type="{{ getPasswordInput }}"
              placeholder="{{ locales.newPassword }}"
              [(ngModel)]="password"
            />
            <i class="far {{ getPasswordIcon }}" (click)="changePassword()"></i>
          </div>
          <div class="validation-box d-flex flex-column p-2">
            <div
              *ngFor="let validation of validations"
              class="d-flex align-items-center text-center my-1"
            >
              <i
                class="fa fa-check-circle mr-2"
                [ngStyle]="validator(password, validation)"
              ></i>
              <p class="m-0 text-left">{{ validation.text }}</p>
            </div>
          </div>
          <div class="input-container mb-2 mt-2">
            <span class="label-input">
              {{ locales.confirmNewPassword }}
            </span>
            <input
              class="password-input"
              type="{{ getConfirmPasswordInput }}"
              placeholder="{{ locales.confirmNewPassword }}"
              [(ngModel)]="confirmPassword"
            />
            <i
              class="far {{ getConfirmPasswordIcon }}"
              (click)="changeConfirmPassword()"
            ></i>
          </div>
          <div *ngIf="!confirmPassword && !password">
            <small class="validation">- O campo precisa ser preenchido</small>
          </div>
        </div>
      </div>

      <div
        *ngIf="!input.disableFooter"
        class="mr-3 padding-bottom-buttons"
        fxLayout="row"
        fxLayoutAlign="end end"
      >
        <button
          *ngIf="!input.btnWithoutCancel"
          type="button"
          class="btn btn-cancel mr-3"
          data-dismiss="modal"
        >
          {{ input.btnSecondaryTitle }}
        </button>

        <button
          type="button"
          *ngIf="input.btnPrimaryTitle"
          class="btn btn-send {{ !validationsIsValid(password) }}"
          (click)="onSave($event)"
          data-dismiss="modal"
        >
          {{ input.btnPrimaryTitle }}
        </button>
      </div>
    </div>
  </div>
</div>
