@import "src/app/shared/styles/colors.scss";
@import "src/app/shared/styles/dimensions.scss";

.modal-change-password-container {
  .input-container {
    position: relative;
    width: $fullSize;
    margin: $size10 0;

    & > .label-input {
      font-size: $size12_8;
      text-transform: uppercase;
      color: $black-58;
      font-weight: 600;
    }

    & > .password-input {
      border: $size1 solid $orange-f4;
      border-radius: $size5;
      height: $size40;

      &::placeholder {
        color: $placeholder-gray;
        font-size: $remSize08;
      }
    }
    .password-input:focus {
      border: $size1 solid $orange-f4;
    }

    i {
      cursor: pointer;
      position: absolute;
      right: $size9;
      top: $size33;
      z-index: 1;
      color: $orange-f7;
    }
    input {
      border: none;
      border-bottom: $size1 solid $gray-70;

      font-size: $remSize075;
      outline: 0;
      padding: $size10;
      width: $fullSize;
    }
    input:focus {
      border-bottom: $size1 solid $black;
    }
    input::placeholder {
      color: $black;

      font-size: $remSize075;
    }
  }

  .btn-cancel {
    color: $black-231f;

    font-size: $remSize08;
  }

  .btn-save {
    background-color: $orange-button;
    color: $white;

    font-size: $remSize08;
  }
}

.validation {
  color: #dc3545;
  margin-left: $size2;
  margin-right: $size2;
  margin-top: -$size5;
  font-size: $size11_52;
  opacity: 0.81;
}

.validation-box {
  background-color: $black-1a;
  font-size: $remSize08;
  border-radius: $size8;
}
.form-control {
  &:focus {
    color: green;
  }

  &.errorInput {
    border-color: red;

    &:focus {
      box-shadow: 0 0 0 0 !important;
    }
  }
}
.modal-content {
  background: $white 0% 0% no-repeat padding-box;
  border: $size1 solid $border-gray;
  border-radius: $size20;
  height: $size510;
  & > .modal-header {
    border-bottom: 0;
    & > .d-flex {
      & > .modal-title {
        font-size: $size20;
        color: $black-1f;
        font-weight: 700;
      }
    }
  }
}

.btn-send {
  background: transparent
    linear-gradient(180deg, $orange-f7 0%, $orange-f2 100%) 0% 0% no-repeat
    padding-box;
  box-shadow: $size0 $size2 $size6 $shadow;
  border-radius: $size6;
  width: 24.3%;
  font-size: $remSize08;

  color: $white;
  font-weight: 600;
  height: $size39;
  border: none;
  cursor: pointer;
  &.disabled {
    cursor: default;
  }
}

.btn-cancel {
  background: $white 0% 0% no-repeat padding-box;
  box-shadow: $size0 $size2 $size6 $shadow;
  border: $size2 solid $orange-f4;
  border-radius: $size6;
  font-size: $remSize08;
  font-weight: 600;
  color: $orange-f4;
  height: $size39;
  width: 14.6%;
}

.modal-dialog {
  max-width: $size600;
  min-height: calc(100% - 30.8rem);
}

.padding-bottom-buttons {
  padding-bottom: $size12;
}
