<div class="financial-impact-container container-fluid mt-0">
  <app-title-header [title]="locales.proposedMovements.toLocaleUpperCase()">
    <app-button-more-actions
      *ngIf="!share"
      [isMore]="true"
      [isShare]="permissions && permissions.canShare"
      [isHelp]="false"
      idModal="shareModal"
      (onShareClick)="getShareKey()"
    >
      <button
        class="ml-1 btn btn-show"
        fxLayoutAlign="center center"
        data-toggle="modal"
        data-target="#checkedShowModal"
      >
        {{ locales.show }}
      </button>
      <app-export-button
        (click)="
          selectedVisualization.id === displayTypesEnum.TABLE
            ? exportCSV()
            : exportGraph()
        "
      ></app-export-button>
    </app-button-more-actions>
    <app-share-header [headers]="shareHeader" *ngIf="share"></app-share-header>
  </app-title-header>

  <app-filter-header
    [share]="share"
    [listTables]="displayByList"
    (tableSelected)="changeDisplayBy($event)"
    [shareFilterTitle]="locales.showTo"
    [shareFilter]="
      proposedMovementsChart &&
      proposedMovementsChart.share &&
      proposedMovementsChart.share.displayBy
    "
    [isSpacedBetween]="false"
  >
    <div fxLayout.lt-md="row" fxLayout="row" fxLayoutAlign="start start">
      <div *ngIf="!share" fxHide.lt-md class="ml-3 ml-3 line"></div>
      <div ngClass.lt-md="mb-3" fxLayout="column" fxLayoutAlign="space-between">
        <div *ngIf="!share" class="tiny-title">{{ commonLocales.units }}</div>
        <app-button-list-light
          *ngIf="units"
          text="{{ changeUnitLabel(units) }}"
          [textAllDefautl]="
            units && units.length > 1 ? locales.all : units ? units[0].unit : ''
          "
          [isDropUnit]="true"
          [unitList]="units"
          [addAllInUnit]="true"
          (textUnitSelected)="changeUnits($event)"
          class="mt-1 btn-list"
        ></app-button-list-light>
      </div>
      <div *ngIf="!share" fxHide.lt-md class="ml-3 ml-3 line"></div>
      <div ngClass.lt-md="mb-3" fxLayout="column" fxLayoutAlign="space-between">
        <div *ngIf="!share" class="tiny-title">
          {{ commonLocales.scenario }}
        </div>
        <app-button-list-light
          *ngIf="movementsList"
          [text]="movementsList[0].title"
          [list]="movementsList"
          (textSelected)="changeMovements($event)"
          [showList]="true"
          class="mt-1 btn-list"
        ></app-button-list-light>
      </div>
    </div>

    <div class="ml-auto">
      <div
        ngClass.lt-md="mb-3"
        class="left-separator ml-3"
        fxLayout="column"
        fxLayoutAlign="space-between"
      >
        <div class="tiny-title">{{ locales.visualization }}</div>
        <div fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="space-between">
          <app-button-list-visualization
            [list]="listVisualization"
            [selected]="selectedVisualization"
            (textSelected)="displayTypeSelect($event)"
          >
          </app-button-list-visualization>
        </div>
      </div>
    </div>
  </app-filter-header>

  <div class="mt-3 mb-5 card p-3">
    <app-proposed-movements-chart
      *ngIf="
        getProposedMovementsChart &&
        chartHeight &&
        selectedVisualization &&
        selectedVisualization.id !== displayTypesEnum.TABLE
      "
      (clickPoint)="getProposedMovementsTable($event)"
      [height]="chartHeight"
      [type]="
        selectedVisualization.id === displayTypesEnum.BAR ? 'bar' : 'column'
      "
      [valuesProposedMovementsChartsChart]="getProposedMovementsChart.chart"
    ></app-proposed-movements-chart>
    <app-proposed-movements-table
      *ngIf="selectedVisualization.id === displayTypesEnum.TABLE"
      [proposedMovementsChart]="getProposedMovementsChart"
      (openModalEmitter)="openModalTable($event)"
    ></app-proposed-movements-table>
  </div>
</div>

<app-checkebox-show-dialog
  *ngIf="inputCheckedBoxShowModal && checkedShow && checkedShow.length > 0"
  [checkedShow]="checkedShow"
  [inputModalShow]="inputCheckedBoxShowModal"
  (sendChecked)="changeCheckedGraph($event)"
>
</app-checkebox-show-dialog>

<app-basic-dialog-structure
  [input]="inputShareModal"
  (save)="onSendEmail()"
  [hidden]="!shareURL"
  [isShareModal]="true"
>
  <app-modal-share-table
    [url]="shareURL"
    (onChangeEmail)="onPutEmail($event)"
    *ngIf="permissions && !share"
  >
  </app-modal-share-table>
</app-basic-dialog-structure>

<app-basic-dialog-structure [input]="inputTableModal">
  <div class="w-100">
    <div class="sub-header p-3 d-flex justify-content-between">
      <div class="mt-2">
        <h6 class="m-0 sub-title d-flex flex-column">
          {{ proposedMovementsTable ? proposedMovementsTable.category : "" }}
        </h6>
        <h6 class="m-0 sub-title">
          {{ proposedMovementsTable ? proposedMovementsTable.scenario : "" }}
        </h6>
      </div>
      <div class="d-flex w-50 align-items-center">
        <img
          src="../../../../../assets/imgs/svg/export-icon.svg"
          class="export-icon mr-2 pt-1"
          alt=""
          [tooltip]="'Exportar Tabela'"
          [placement]="'bottom'"
          (click)="exportCSVModal()"
        />
        <app-search
          class="flex-fill"
          [isFullSize]="true"
          (searchQuery)="onChangeSearch($event)"
          text="Buscar"
        ></app-search>
      </div>
    </div>
    <app-clear-filter
      *ngIf="isClearFilter"
      (clearFilters)="onClearFilter()"
      (filters)="onFilterChecked()"
    >
    </app-clear-filter>
    <div
      class="mt-3 table-container w-100"
      fxLayout="column"
      *ngIf="dataResult && !isLoading"
    >
      <ngx-datatable
        class="bootstrap"
        [rows]="dataResult"
        [columnMode]="ColumnMode.force"
        [selectionType]="SelectionType.checkbox"
        [headerHeight]="headerHeight"
        [rowHeight]="rowHeight"
        [selected]="selected"
        [selectAllRowsOnPage]="false"
        [scrollbarV]="true"
        [scrollbarH]="true"
        [loadingIndicator]="isLoading"
        [offset]="page"
        [limit]="pageLimit"
        [messages]="{ emptyMessage: commonLocales.emptyResult }"
        (sort)="onSort($event)"
        [externalSorting]="true"
        (select)="onSelect($event)"
      >
        <ngx-datatable-column
          [width]="50"
          [sortable]="false"
          [canAutoResize]="false"
          [draggable]="false"
          [resizeable]="false"
          *ngIf="dataResult"
        >
          <ng-template
            ngx-datatable-header-template
            let-value="value"
            let-allRowsSelected="allRowsSelected"
            let-selectFn="selectFn"
          >
            <label class="container-cb">
              <input
                type="checkbox"
                id="customCheck"
                [checked]="allRowsSelected"
                (change)="selectFn(!allRowsSelected)"
              />
              <span class="checkmark"></span>
            </label>
          </ng-template>
          <ng-template
            ngx-datatable-cell-template
            let-value="value"
            let-isSelected="isSelected"
            let-onCheckboxChangeFn="onCheckboxChangeFn"
          >
            <label class="container-cb">
              <input
                type="checkbox"
                [checked]="isSelected"
                (change)="onCheckboxChangeFn($event)"
              />
              <span class="checkmark"></span>
            </label>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{ item.value }}"
          prop="{{ item.columnId }}"
          [sortable]="item.sortable"
          [width]="setColumnWidth(item)"
          [headerClass]="item.colPos >= 4 ? 'header-column-cell' : ''"
          *ngFor="let item of this.proposedMovementsTable.table.header"
        >
          <ng-template
            let-rowIndex="rowIndex"
            let-row="row"
            ngx-datatable-cell-template
          >
            <div
              fxLayout="row"
              [fxLayoutAlign]="
                getRowResult(row, item).type === 'Double' ||
                getRowResult(row, item).type === 'Int64' ||
                transformText(row, item) === '-' ||
                item.columnId === fullInfoPositionEnum.ProposedMovementLabel
                  ? 'center center'
                  : 'start center'
              "
            >
              <div *ngIf="getRowResult(row, item).type === 'Double'">
                <div
                  *ngIf="
                    transformText(row, item) !== '-' && item.value === 'Salário'
                  "
                >
                  {{ getReplaceValue(row, item) | number: "1.0-3" }}
                </div>
                <div
                  *ngIf="
                    transformText(row, item) !== '-' && item.value !== 'Salário'
                  "
                >
                  {{ getFormatValue(row, item) | number: "1.0-3" }}
                </div>
                <div *ngIf="transformText(row, item) === '-'">
                  {{ transformText(row, item) }}
                </div>
              </div>

              <div
                *ngIf="getRowResult(row, item).type !== 'Double'"
                [innerHTML]="transformText(row, item) | highlightsCase: query"
              ></div>
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</app-basic-dialog-structure>
