@import "src/app/shared/styles/colors.scss";
@import "src/app/shared/styles/dimensions.scss";

.button-list-light-container {
  background: transparent linear-gradient(180deg, #f7903b 0%, #f2a165 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 2px 6px #74747429;
  border-radius: 42px;
  position: relative;
  height: $size33;
  width: $size80;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: $white;
  font-size: $size14;

  & > .dropdown-menu {
    padding: 0;
    overflow-y: auto;
    max-height: $size232;
    min-width: $size120;
  }
  .table-icon {
    & > img {
      height: $size20;
    }
  }
  .btn-options-light {
    color: $gray-8f;
    font-size: $size14;
    opacity: 1;
    width: 100%;
    white-space: nowrap;
    label {
      white-space: break-spaces;
    }
  }
  .btn-options-light:focus {
    outline: 0;
    white-space: nowrap;
    box-shadow: none;
  }
}

.item-list-menu-light {
  .dropdown-item {
    display: flex;
    align-items: center;
    border-radius: $size2;
    font-size: $size14;
    padding: $size5 $size10;
    border-bottom: $size1 solid $border-gray;
    min-height: $size35;
    &:last-child {
      border-bottom: 0;
    }
    &:hover {
      background-color: $gray-ed;
    }
    & > .item {
      font-size: $size14;
    }
    & > .selected {
      color: $orange-f7;
      font-weight: 600;
    }
  }
}
