<div class="d-flex justify-content-between m-3">
  <div class="d-flex align-items-center">
    <span class="font-weight-bold mr-2">Tabela Salarial: </span>
    <span class="item-btn-active">
      {{ salarialTable }}
    </span>
  </div>
  <div class="d-flex align-items-center">
    <div class="d-flex align-items-center mr-3">
      <span class="font-weight-bold mr-2">Unidade: </span>
      <span class="item-btn-active">
        {{ unit }}
      </span>
    </div>
    <div class="d-flex align-items-center">
      <span class="font-weight-bold mr-2">Perfil: </span>
      <span class="item-btn-active">
        {{ profile }}
      </span>
    </div>
  </div>
</div>
<div class="m-3" *ngIf="chart">
  <app-salarial-chart
    *ngIf="chart"
    [isExport]="true"
    [maxValue]="chart.maxValue"
    [valuesSalaryChartInput]="chart.chart"
  ></app-salarial-chart>

  <div class="font-weight-bold pt-4 d-flex justify-content-center">
    <div id="font-muller">Fonte: Carreira Muller</div>
  </div>
</div>
