@import "src/app/shared/styles/colors.scss";
@import "src/app/shared/styles/dimensions.scss";

p {
  margin-bottom: 0.5rem;
}

.footer-img {
  width: auto;
  height: $remSize13;
  background: transparent url("../../../assets/imgs/positions-footer.png") 0% 0%
    no-repeat;
  opacity: 1;

  > div {
    text-align: left;
    font-family: MontserratExtraBold;
    letter-spacing: 0.5px;
    color: $white;
    opacity: 1;
    font-size: $remSize2_5;
    padding-right: 9.25rem;
    padding-bottom: $remSize1;
  }
}

.dv-content {
  padding-left: $remSize7_18;
  padding-right: 1.53125rem;

  font-size: $remSize08;
  letter-spacing: 0.18px;
}

.title {
  padding-left: $remSize7_18;
  color: $orange-f0;

  text-align: left;
  letter-spacing: 0.22px;
  opacity: 1;
  margin-top: $remSize2_5;
}

.title-mobile {
  display: none;
}

.body {
  margin-top: $remSize1;
  margin-bottom: $remSize3_75;
}

.card-body {
  text-align: left;

  letter-spacing: 0.16px;
  color: $black-231f;
  opacity: 1;
  padding: 2.1875rem;
  font-size: $remSize08;
}

.card {
  background: $white 0% 0% no-repeat padding-box;
  box-shadow: $size0 $size3 12px $gray-box-shadow-00;
  border-radius: $size10;
  opacity: 1;
  height: $remSize13;
  width: 48%;

  &:before {
    background-color: $orange-f0;
    background-repeat: no-repeat;
    background-position: center;
    width: $remSize4;
    height: $remSize4;
    position: absolute;
    border-radius: $remSize4_18;
    top: -$remSize1_5;
    left: -$remSize1_7;
  }
}

.first-card {
  &:before {
    content: "";
    background-image: url("../../../assets/imgs/svg/diagram.svg");
    background-size: $remSize1_4;
  }
}

.second-card {
  &:before {
    content: "";
    background-image: url("../../../assets/imgs/svg/balance.svg");
    background-size: $remSize5_4;
  }
}

.separator {
  width: $size0;
  height: $remSize30;
  border: $size1 solid #707070;
  opacity: 0.23;
}

.btn-default {
  background: $orange-button 0% 0% no-repeat padding-box;
  box-shadow: $size0 $size3 $size10 $gray-box-shadow-43;
  border-radius: 57px;
  opacity: 1;
  color: $white;
  width: $remSize18;
  height: $size65;
  padding: 0 1.9375rem;
  text-align: left;

  letter-spacing: $size0;
  color: $white;
  opacity: 1;
  text-transform: uppercase;
  font-size: $remSize08;

  img {
    width: $remSize1_4;
    height: $remSize1_5;
  }
}

.margin-list {
  margin-bottom: 2.125rem;
}

.text-button {
  text-align: center;
  font-family: MontserratLight;
  letter-spacing: 0.18px;
  color: $black-231f;
  opacity: 1;
  margin-top: 1.125rem;
  font-size: $remSize09;
  cursor: pointer;
}

@media only screen and (max-width: $screen-laptop-large) {
  .card {
    font-size: $remSize0875;
    width: 46%;
  }
}

@media only screen and (min-width: $screen-laptop-large) {
  .footer-img {
    width: auto;
    background: transparent url("../../../assets/imgs/positions-footer@2x.png")
      0% 0% no-repeat;
    background-size: cover;
  }
}

@media only screen and (max-width: $screen-laptop) {
  .btn-content {
    display: none;
  }

  .body {
    font-size: $remSize0875;
  }

  .card {
    font-size: $remSize0875;
    width: 80%;
    height: auto;
    margin-bottom: $remSize3;

    &:before {
      width: $remSize4;
      height: $remSize4;
      border-radius: $remSize4_37;
    }
  }

  .text-button {
    font-size: $remSize0875;
  }

  .dv-content {
    padding-left: $remSize1;
    padding-right: $remSize1;
  }
}

@media only screen and (max-width: $screen-tablet) {
  .footer-img {
    > div {
      font-size: $remSize2;
    }
  }

  .card {
    width: 70%;
    &:before {
      width: $remSize3_75;
      height: $remSize3_75;
      border-radius: $remSize3_75;
    }
  }
}

@media only screen and (max-width: $screen-mobile-large) {
  .footer-img {
    height: $remSize10;
    > div {
      font-size: $remSize2;
    }
  }

  .separator {
    display: none;
  }

  .title {
    display: none;
  }

  .title-mobile {
    display: block;
    color: $orange-f0;

    text-align: center;
    letter-spacing: 0.22px;
    opacity: 1;
    margin-top: $remSize1;
  }

  .btn-content {
    margin-top: $remSize2;
  }
}

.positioning-nav-header-container {
  margin-top: $size8;
}

.logo {
  margin-left: $remSize1;
}

.activated-route {
  .logo {
    filter: brightness(0) invert(1);
  }

  &.btn-default {
    background-color: $orange-button !important;
    color: $white !important;
  }
}

.btn-default {
  background: transparent 0% 0% no-repeat padding-box;
  border-radius: $size57;
  border-color: $orange-button;
  opacity: 1;
  color: $orange-button !important;
  height: $size33;
  padding: 0 $remSize1;
  text-align: left;

  letter-spacing: $size0;
  opacity: 1;
  font-size: $size14;

  &:focus {
    box-shadow: none;
  }

  &:hover {
    background-color: $orange-button !important;
    color: $white !important;

    .logo {
      filter: brightness(0) invert(1);
    }
  }
}

@media only screen and (max-width: $screen-mobile-large) {
  .btn-content {
    margin-top: $remSize2;
  }
}
